.Contact {
  margin: 100px 0;
  form {
    width: 80%;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
    h1 {
      font-family: "Lobster", cursive;
      font-size: 3.5rem;

      @media screen and (max-width: 425px) {
        font-size: 3rem;
      }
    }

    label {
      font-size: 1.2rem;
    }

    textarea {
      padding: 40px 0;
    }

    button {
      font-size: 1.3rem;
      background-color: black;
      border: black;

      &:hover {
        background-color: black;
      }

      &:active {
        background-color: black !important;
      }

      &:focus {
        box-shadow: none !important;
        background-color: black;
      }
    }
  }

  @media screen and (max-width: 425px) {
    margin-top: 70px;
  }
}
